<%- include('template/top', {tituloWeb: 'Index' }) %>

    <h1 class="text-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, officia earum eaque voluptates sit debitis quas vitae. Repudiandae voluptatem nam, ut beatae corrupti, odit vitae adipisci eaque pariatur deleniti cupiditate?</h1>

    <%- include('template/footer')%>